// app global css

// custom variables and classes

$max-content-size = 640px
$ck-orange = #f18222

.content-wrapper
    max-width $max-content-size
    margin 0 auto
    padding: 5px 20px

.ck-orange
    color $ck-orange
            